<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODEPRO</title>
</head>
<body class="bg-gray-900 text-white">
    <header class="bg-blue-500 p-4 text-white text-xl font-bold">Rerverses</header>
    <nav class="max-w-6xl mx-auto flex justify-between items-center p-4">
        <a href="#" class="text-xl font-bold">holos este hay que cambiar</a>
        <ul class="flex space-x-4">
            <li><a href="#" class="hover:text-blue-400">PRINCIPAL</a></li>
            <li><a href="#" class="hover:text-blue-400">NOTICIAS</a></li>
        </ul>
    </nav>

    <main class="mt-6 px-4 max-w-xl mx-auto">
        <h1 class="text-left text-2xl font-bold text-gray-100 mb-6">RESERVA ALGO</h1>
        <form action="/reservar" method="POST" class="bg-gray-700 p-6 rounded-md shadow">
            <div class="mb-4">
                <label for="fecha" class="text-blue-400 font-bold">Elige la Fecha a reservar</label>
                <input 
                    type="date"
                    id="fecha"
                    name="fecha"
                    class="w-full p-2 border rounded-md"
                    required
                >
            </div>
            <div class="mb-4">
                <label for="hora_entrada" class="block">Hora de entrada</label>
                <input type="time" id="hora_entrada" name="hora_entrada" class="w-full p-2 border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="hora_salida" class="block">Hora de salida</label>
                <input type="time" id="hora_salida" name="hora_salida" class="w-full p-2 border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="nombre" class="block">Nombre de la reserva</label>
                <input type="text" id="nombre" name="nombre" class="w-full p-2 border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="correo" class="block">Correo</label>
                <input type="email" id="correo" name="correo" class="w-full p-2 border rounded-md" required>
            </div>
            <button type="submit" class="bg-blue-400 text-white font-bold px-4 py-2 rounded">Enviar</button>
        </form>
    </main>
</body> 
</html> 